.numbers__description-heading {
  color: rgba(51, 51, 51, 1);
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .numbers__description-heading {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .numbers__description-heading {
    font-size: 18px;
  }
}