.news__card-image {
  padding: 30px 0 0;
  width: 100%;
  max-width: 380px;
}

@media screen and (max-width: 1023px) {
  .news__card-image {
    padding: 20px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .news__card-image {
    max-width: 252px;
    padding: 20px 0 0;
  }
}
