.support-form__checkbox-agreement {
  bottom: 0;
  left: 6px;
  margin: 0;
  position: absolute;
  opacity: 0;
}

.support-form__checkbox-agreement:checked + .support-form__checkbox-visible {
  background-image: url('../../../images/support-form/Icon_check.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
