.news__card-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  padding: 50px 0 0;
}

@media screen and (max-width: 1023px) {
  .news__card-container {
    grid-auto-rows: 0;
    grid-template-columns: repeat(2,  2fr);
    grid-template-rows: repeat(1, 1fr);
    overflow-y: hidden;
    padding: 32px 0 0;
    max-width: 688px;
  }
}

@media screen and (max-width: 767px) {
  .news__card-container {
    gap: 16px;
    grid-auto-rows: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    padding: 24px 0 0;
  }
}
