.support__donations-list {
  align-items: stretch ;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 0;
  padding: 74px 0 0 46px;
  max-width: 396px;
  max-height: 640px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.support__donations-list::after {
  background: linear-gradient(to top, #E7F0FF, transparent 70%);
  bottom: 0;
  content: '';
  height: 90%;
  left: 0;
  position: absolute;
  width: 100%;
}

@media screen and (max-width:1023px) {
  .support__donations-list {
    align-items: center;
    margin: 0 auto;
    gap: 26px;
    max-height: 459px;
    max-width: 349px;
    padding: 32px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .support__donations-list {
    gap: 16px;
    max-height: 265px;
    padding: 36px 0 0;
    width: 300px;
  }
  .support__donations-list::after {
    background: linear-gradient(to top, #E7F0FF, transparent 70%);
    bottom: 0;
    content: '';
    height: 80%;
    left: 0;
    position: absolute;
    width: 100%;
  }

}
