.activities__card {
  align-items: flex-start;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 428px;
  justify-content: space-between;
  padding: 30px;
  width: 440px;
}

@media screen and (max-width: 1439px) {
  .activities__card {
    min-height: 200px;
    width: 334px;
  }
}

@media screen and (max-width: 767px) {
  .activities__card {
    padding: 24px;
    width: 300px;
  }
}
