.header__link_top {
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  margin-bottom: 10px;
}
@media screen and (max-width: 1439px) {
  .header__link_top {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 8px;
  }
}
