.numbers__container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .numbers__container {
    max-width: 688px;
  }
}

@media screen and (max-width: 767px) {
  .numbers__container {
    max-width: 301px;
  }
}