.header__big-menu-point {
  list-style: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /*justify-content: space-around;*/
  row-gap: 20px;
  display: flex;
}
@media screen and (max-width: 1439px) {
  .header__big-menu-point {
    row-gap: 16px;
  }
}
