.header__invisible-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.header__invisible-radio:checked + .header__icon-shevron {
  transform: rotate(180deg);
}
