.news__card-theme {
  font-weight: 400;
  margin: 0;
  font-size: 18px;
  line-height: 130%;
  padding: 0 0 30px;
}

@media screen and (max-width: 1023px) {
  .news__card-theme {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
  }
}
@media screen and (max-width: 767px) {
  .news__card-theme {
    padding-bottom: 20px;
  }
}
