.intro__slider-pagination-text {
  text-align: center;
  width: 38px;
}

@media screen and (max-width: 1023px) {
  .intro__slider-pagination-text {
    width: 31px;
  }
}

@media screen and (max-width: 1023px) {
  .intro__slider-pagination-text {
    width: 27px;
  }
}
