.header__big-menu-lists {
  list-style: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  row-gap: 32px;
  display: flex;
  max-height: min-content;
}
@media screen and (max-width: 1439px) {
  .header__big-menu-lists {
    row-gap: 24px;
  }
}
@media screen and (max-width: 767px) {
  .header__big-menu-lists {
    row-gap: 20px;
  }
}
