.purpose__title {
  color: #333333;
  font-size: 34px;
  font-weight: 700;
  line-height: 40.8px;
  margin: 0;
  padding-top: 40px;
}

@media screen and (max-width: 1023px) {
  .purpose__title {
    font-size: 26px;
    line-height: 31.2px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .purpose__title {
    font-size: 18px;
    line-height: 21.6px;
  }
}
