.footer__social-logotypes {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

@media screen and (max-width: 1439px) {
  .footer__social-logotypes {
    column-gap: 21px;
  }
}
