.support-form__heading {
  color: #333333;
  font-family: 'Raleway';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .support-form__heading {
    font-size: 20px;
  }
}
