.support-form__button-arrow {
  background-image: url('../../../images/support-form/Icon_shevron.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  border: none;
  outline: none;
  visibility: hidden; /* спрятал кнопку */
}

@media screen and (max-width: 767px) {
  .support-form__button-arrow {
    transform: rotate(90deg);

  }
}
