.support-form__button-arrow {
  background-color: #fff;
  background-image: url('../../../images/support-form/Icon_shevron.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  border: none;
  outline: none;
  align-self: right;
}

@media screen and (max-width: 1023px) {
  .support-form__button-arrow {
    transform: rotate(90deg);
  }
}
