.numbers {
  padding-bottom: 50px;
  padding-top: 100px;
}

@media screen and (max-width: 1440px) {
  .numbers {
    padding: 100px 0 50px;
  }
}

@media screen and (max-width: 1023px) {
  .numbers {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .numbers {
    padding-bottom: 50px;
    padding-top: 32px;
  }
}