.header__icon-shevron {
  display: none;

}
.header__invisible-checkbox:checked + .header__checkbox-button-big-menu .header__icon-shevron {
  /*display: none;*/
  transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  .header__icon-shevron {
    transition: transform .5s ease-in-out;
    display: block;
  }
}
