.history__paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  row-gap: 20px;
}

@media screen and (max-width: 1023px) {
  .history__paragraph {
    max-width: 450px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .history__paragraph {
    max-width: 298px;
    row-gap: 16px;
  }
}
