.intro__slider-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0 0 826px;
  padding-bottom: 50px;
}

@media screen and (max-width: 1439px) {
  .intro__slider-text-container {
    flex: 1 0 424px;
  }
}

@media screen and (max-width: 1023px) {
  .intro__slider-text-container {
    padding-bottom: 40px;
    min-height: 246px;
  }
}

@media screen and (max-width: 767px) {
  .intro__slider-text-container {
    padding-bottom: 0;
    min-height: auto;
    flex: 1 0 auto;
    gap: 16px;
  }
}
