.stories__photo-cards {
  align-items: center;
  column-gap: 20px;
  display: flex;
  justify-content: center;
  max-width: 1360px;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .stories__photo-cards {
    padding-top: 8px;
  }
}

@media screen and (max-width: 767px) {
  .stories__photo-cards {
    padding: 0;
    flex-direction: column;
    row-gap: 16px;
  }
}
