.footer__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 166px 1fr;
  gap: 8px 145px;
  height: min-content;
  max-width: min-content;
}
@media screen and (max-width: 1439px) {
  .footer__menu {
    padding-top: 8px;
    gap: 8px 50px;
  }
}
