@media screen and (max-width: 1023px) {
  .purpose__section-title {
    white-space: nowrap;
    width: fit-content;
    margin: 0 auto;
  }
}


@media screen and (max-width: 320px) {
  .purpose__section-title {
    margin: 0;
  }
}
