.support__dots {
  font-family: 'Raleway';
  color: #333333;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media screen and (max-width: 1023px) {
  .support__dots {
    font-size: 16px;
    line-height: 120%;
  }
}
