.footer__author {
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

@media screen and (max-width: 1439px) {
  .footer__author {
    column-gap: 10px;
    grid-column: 1 / -1;
  }
}
