.footer__author {
  align-items: center;
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: -8px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 1439px) {
  .footer__author {
    column-gap: 10px;
    grid-column: 1 / -1;
    margin-top: 11px;
  }
}

@media screen and (max-width: 767px) {
  .footer__author {
    align-items: flex-start;
    flex-direction: column;
    grid-column: 1 / -1;
    margin-top: 16px;
    row-gap: 7px;
  }
}
