.history__heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1360px;
}

@media screen and (max-width: 1023px) {
  .history__heading {
    max-width: 687px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .history__heading {
    width: 299px;
  }
}