.footer__title {
  font-size: 34px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1439px) {
  .footer__title {
    font-size: 20px;
    max-width: 190px;
  }
}

@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 16px;
  }
}
