.news__card-text {
  color: #333333;
  font-family: 'Raleway';
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  max-height: 318px;
  overflow: hidden;
  padding-bottom: 30px;
}

@media screen and (max-width: 1023px) {
  .news__card-text {
    font-size: 16px;
    line-height: 120%;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .news__card-text {
    font-size: 14px;
  }
}
