.advantages__container {
  padding-bottom: 50px;
  padding-top: 100px;
}

@media screen and (max-width:1439px) {
  .advantages__container {
    padding-top: 50px;
  }
}

@media screen and (max-width:767px) {
  .advantages__container {
    padding-bottom: 32px;
    padding-top: 32px;
  }
}
