.link_size_purpose {
  height: 48px;
  width: 165px;
}

@media screen and (max-width:1023px) {

  .link_size_purpose {
    height: 44px;
    width: 139px;
  }

}

@media screen and (max-width:767px) {

  .link_size_purpose {
    height: 44px;
    width: 128px;
  }

}
