.accordion__text_hidden {
  margin: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.3s ease-out, padding-top 0.3s ease-out,
    padding-bottom 0.3s ease-out, visibility 0.3s;
  visibility: hidden;
}
