.footer__logotype_type_fond {
  background-image: url("../../../../images/footer/logo-fond.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 48px;
}

@media screen and (max-width: 1439px) {
  ..footer__logotype_type_fond {
    background-image: url("../../../../images/footer/logo-fond-tablet.svg");
    width: 88px;
    height: 30px;
  }
}
