.link-story {
    align-items: center;
    background-color: transparent;
    color: #333;
    display: inline-flex;
    gap: 10px;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.link-story:hover {
    color: #00275C;
}

.link-story:active {
    color: #0C4BA0;
}

.link-story:hover .link-story__image  {
    fill: #00275C;
}

.link-story:active .link-story__image  {
    fill: #0C4BA0;
}

@media screen and (max-width: 1023px) {
    .link-story  {
        width: 165px;
    }
}



