.footer__about-us {
  padding: 14px 0 0 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 1439px) {
  .footer__about-us {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }
}
