.intro__container {
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding: 50px 0;
}

@media screen and (max-width: 1023px) {
  .intro__container {
    gap: 50px;
    padding-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .intro__container {
    gap: 40px;
    padding: 50px 0 32px;
    width: 95%;
  }
}
