.header__big-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0 0 0;
  margin: 0;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

@media screen and (max-width: 1439px) {
  .header__big-menu {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 64px;
  }
}

@media screen and (max-width: 767px) {
  .header__big-menu {
    padding-top: 20px;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
}
