.header__menu-button_type_burger {
  background-image: url(../../../../images/header/burger-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  height: 23px;
  width: 25px;
}

@media screen and (max-width: 1023px) {
  .header__menu-button_type_burger {
    height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu-button_type_burger {
    height: 16px;
  }
}
