.header__menu-button_type_close {
  background-image: url(../../../../images/header/icon-close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 767px){
  .header__menu-button_type_close {
    height: 22px;
  }
}
