.footer__copyrigth {
  color: rgba(38, 38, 38, 0.5);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  max-width: 630px;
  padding: 0;
  width: 630px;
}

@media screen and (max-width: 1439px) {
  .footer__copyrigth {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    max-width: 336px;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyrigth {
    font-size: 12px;
    max-width: 300px;
  }
}
