.header__head {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 80px;
  position: sticky;
  top: 0;
}

@media screen and (max-width: 767px) {
  .header__head {
    min-height: 54px;
  }
}

