.header__head {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 80px;
  padding: 0 40px;
}

@media screen and (max-width: 767px) {
  .header__head {
    min-height: 54px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

