.donation__text_width_larger {
  width: 211px;;
}

@media screen and (max-width: 1250px) {
  .donation__text_width_larger {
    width: 180px;
  }
}

@media screen and (max-width: 1200px) {
  .donation__text_width_larger {
    height: 44px;
  }
}

@media screen and (max-width: 1023px) {
  .donation__text_width_larger {
    width: 135px;
  }
}

@media screen and (max-width: 767px) {
  .donation__text_width_larger {
    width: 100%;
  }
}
