.news__button-tablet {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 44px;
  justify-content: center;
  margin: 0;
  padding: 12px 16px;
  visibility: hidden;
  width: 200px;
}

@media screen and (max-width: 1023px) {
  .news__button-tablet {
    margin: 32px auto 0;
    visibility: visible;
  }
}

@media screen and (max-width: 767px) {
  .news__button-tablet {
    width: 300px;
  }
}
