.news__button {
  width: 194px;
  height: 48px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 17px;
  right: 0;
}

@media screen and (max-width: 1023px) {
  .news__button {
    visibility: hidden;
  }
}
