.slider__image-container {
  align-self: center;
  border-radius: 30px;
  height: 393px;
  overflow: hidden;
  width: 42.7%;
}

@media screen and (max-width: 1023px) {
  .slider__image-container {
    border-radius: 10px;
    height: 284px;
    width: 41.4%;
  }
}

@media screen and (max-width: 767px) {
  .slider__image-container {
    height: 70.866%;
    width: 100%;
  }
}
