.sliger__image-container {
  overflow: hidden;
  width: 42.7%;
  height: 393px;
  border-radius: 30px;
  align-self: center;
}

@media screen and (max-width: 1023px) {
  .sliger__image-container {
    width: 41.4%;
    height: 284px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 767px) {
  .sliger__image-container {
    width: 100%;
    height: 70.866%;
  }
}
