.section__wrapper {
  /* max-width: 1440px; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  width: 94.45%;
}

@media screen and (max-width: 1023px) {
  .section__wrapper {
    width: 89.584%;
  }
}

@media screen and (max-width: 767px) {
  .section__wrapper {
    width: 93.75%;
  }
}
