.history__photo-card {
  background-color: #EAE6FF;
  border-radius: 30px;
  display: flex;
  max-width: 670px;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .history__photo-card {
    max-width: 334px;
  }
}

@media screen and (max-width: 767px) {
  .history__photo-card {
    max-width: 300px;
  }
}