.history__photo-card-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  max-width: 366px;
  padding: 0px;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .history__photo-card-description {
    max-width: 158px;
  }
}

@media screen and (max-width: 767px) {
  .history__photo-card-description {
    max-width: 172px;
    gap: 8px;
  }
}