.support__heading {
  margin: 0;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  max-width: 488px;
  padding-top: 38px;
}

@media screen and (max-width: 1023px) {
  .support__heading {
    font-size: 26px;
    max-width: 531px;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .support__heading {
    font-size: 18px;
    width: 300px;
    margin: 0 auto;
  }
}
