.support-form__pay_variant_webmoney {
  background-image: url('../../../../images/support-form/webmoney.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}

@media screen and (max-width: 767px) {
  .support-form__pay_variant_webmoney {
    background-size: 30%;
  }
}

