.support-form__pay_variant_card {
  background-image: url('../../../../images/support-form/cards.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  box-sizing: border-box;
  padding: 5px 15px;
}

@media screen and (max-width: 767px) {
  .support-form__pay_variant_card {
    background-size: 50%;
  }
}
