.history {
  display: flex;
  flex-direction: column;
  
  margin-top: 150px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 16px;
}

@media screen and (max-width: 1023px) {
  .history {
    margin-top: 100px;
  }
}

@media screen and (max-width: 767px) {
  .history {
    margin-top: 64px;
  }
}