.history__button-down {
  display: none;
}

@media screen and (max-width: 1023px) {
  .history__button-down {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 44px;
    justify-content: center;
    margin-top: 40px;
    margin: auto;
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .history__button-down {
    margin-top: 24px;
    width: 300px;
  }
}