.support-form__checkbox {
  left: -9999px;
  margin: 0;
  position: absolute;
}

.support-form__checkbox:checked + .support-form__input-text {
  border-color: #0C4BA0;
}

.support-form__checkbox:hover + .support-form__input-text {
  border-color: #0C4BA0;
}
.support-form__checkbox:checked + .support-form__checkbox-visible {
  background-image: url('../../../images/support-form/Icon_check.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
