.support-form__checkbox {
  left: -9999px;
  margin: 0;
  position: absolute;
}

.support-form__checkbox:checked + .support-form__button {
  border-color: #0C4BA0;
}

.support-form__checkbox:hover + .support-form__button {
  border-color: #333;
}
