.support-form__button {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  display: flex;
  font-size: 20px;
  font-variant-numeric: lining-nums;
  font-weight: 500;
  justify-content: center;
  line-height: 120%;
  transition: border-color .3s linear;
}

@media screen and (max-width: 1023px) {
  .support-form__button {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .support-form__button {
    font-size: 14px;
  }
}
