.donation__input {
  -moz-appearance: textfield;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-variant-numeric: lining-nums;
  font-weight: 500;
  height: 48px;
  line-height: 120%;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: border-color .3s linear;
  width: 211px;
}

.donation__input::-webkit-outer-spin-button,
.donation__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.donation__input::placeholder {
  color: #333;
}

.donation__input:focus {
  border-color: #0C4BA0;
  outline: none;
}

@media screen and (max-width: 1250px) {
  .donation__input {
    width: 180px;
  }
}

@media screen and (max-width: 1200px) {
  .donation__input {
    font-size: 16px;
    height: 44px;
  }
}

@media screen and (max-width: 1023px) {
  .donation__input {
    width: 135px;
  }
}

@media screen and (max-width: 767px) {
  .donation__input {
    font-size: 14px;
    width: 100%;
  }

  .donation__input:nth-last-child(1):not(:nth-child(even)) {
    grid-column: 1/3;
  }
}
