.header__menu-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
@media screen and (max-width: 767px) {
  .header__menu-name {
    display: none;
  }
}
