.stories__cards {
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1360px;
  width: 100%;
  padding-bottom: 150px;
}

@media screen and (max-width: 1023px) {
  .stories__cards {
    gap: 32px;
    max-width: 687px;
    padding-bottom: 32px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .stories__cards {
    flex-wrap: wrap;
    gap: 10px;
    max-width: 299px;
  }
}
