.donation__sum {
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: color .3s linear;
}

.donation__sum:hover {
  color: #00275C;
}

@media screen and (max-width: 767px) {
  .donation__sum:nth-last-child(1):not(:nth-child(even)) {
    grid-column: 1/3;
  }
}
