.stories__button {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 48px;
  justify-content: center;
  padding: 12px 16px;
  width: 194px;
}

@media screen and (max-width: 1023px) {
  .stories__button {
    display: none;
  }
}
