.header__big-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  max-height: min-content;
  padding: 0;
  row-gap: 20px;
}

@media screen and (max-width: 1439px) {
  .header__big-menu-list {
    row-gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .header__big-menu-list {
    display: flex;
    max-height: 0;
    overflow: hidden;
    row-gap: 10px;
    transition: max-height 0.5s ease-in-out, padding-top 0.5s ease-in-out,
    padding-bottom 0.5s ease-in-out, visibility 0.5s ease-in-out;
    visibility: hidden;
  }
}
