.slider__text-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media screen and (max-width: 1023px) {
  .slider__text-container {
    gap: 11px;
  }
}

@media screen and (max-width: 767px) {
  .slider__text-container {
    gap: 9px;
  }
}
