.support-form__input {
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  font-family: 'Raleway';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  width: 455px;
  align-items: center;
  border-radius: 10px;
  flex-direction: row;
  gap: 2px;
  padding: 10px 20px;
}
