.support-form__checkbox-payment {
  bottom: 0;
  left: 50%;
  margin: 0;
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
}

.support-form__checkbox-payment:checked + .support-form__input-text {
  border-color: #0C4BA0;
}

.support-form__checkbox-payment:hover + .support-form__input-text {
  border-color: #0C4BA0;
}
