.history__avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 224px;
  margin-right: 20px;
  margin: 30.5px;
  width: 224px;
}

@media screen and (max-width: 1023px) {
  .history__avatar {
    height: 120px;
    margin-right: 16px;
    margin: 25px 20px;
    max-width: 120px;
  }
}

@media screen and (max-width: 767px) {
  .history__avatar {
    height: 80px;
    margin: 21px 16px;
    width: 80px;
  }
}
