.slider__text {
  margin: 0;
  max-width: 427px;
}

@media screen and (max-width: 1023px) {
  .slider__text {
    width: 91%;
  }
}

@media screen and (max-width: 767px) {
  .slider__text {
    max-width: none;
    width: 97.6%;
  }
}
