.button {
  background-color: transparent;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  overflow: hidden;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .button {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .button {
    font-size: 14px;
  }
}
