.support-form__button-wrapper_type_sum {
  align-content: center;
  display: grid;
  gap: 12px 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: flex-start;
  margin: 0;
  padding: 16px 0;
}

@media screen and (max-width: 1023px) {
  .support-form__button-wrapper_type_sum {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-start;
    padding: 24px 0 19px;
  }
}
@media screen and (max-width: 767px) {
  .support-form__button-wrapper_type_sum {
    display: grid;
    grid-auto-rows: 44px;
    grid-template-columns: repeat(2, minmax(min-content, 122px));
    padding: 20px 0 16px;
    width: 100%;
  }
}
