.support-form__button-wrapper_type_sum {
  margin: 0;
  padding: 16px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 12px 5px;
  align-content: center;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .support-form__button-wrapper_type_sum {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 24px 0 19px;
    gap: 16px;
  }
}
