.support-form__button-wrapper_type_first {
  margin: 0;
  gap: 20px;
  padding: 0 0 23px;
}

@media screen and (max-width: 1023px) {
  .support-form__button-wrapper_type_first {
    gap: 16px;
    padding: 0 0 32px;
  }
}
